In [51]:
import pandas as pd

In [52]:
import datetime as dt

parser = lambda date: dt.date.fromisoformat(date)

In [54]:
df = pd.read_csv('https://lotw.arrl.org/lotw-user-activity.csv',
                 names=['callsign', 'date', 'time'],
                 dtype={'callsign': str},
                 parse_dates=[1],
                    date_format=parser,
                 )
df

        callsign        date      time
0           1A0C  2025-05-03  18:06:33
1          1A0KM  2014-02-08  15:08:08
2           1A3A  2008-09-12  22:44:57
3           1A4A  2008-09-16  17:36:57
4       2A/DJ6AU  2012-01-04  22:24:58
...          ...         ...       ...
218507    ZZ80SP  2020-04-15  03:44:59
218508    ZZ80TO  2020-04-14  21:15:25
218509      ZZ8M  2024-04-25  17:06:21
218510      ZZ8S  2020-09-09  23:56:12
218511  ZZ90IARU  2016-01-02  00:25:03

[218512 rows x 3 columns]

In [57]:
df[df['callsign'] == 'EA3IEG']

      callsign        date      time
34699   EA3IEG  2025-06-21  19:37:07